/*
#212121 чорний основний
#000000 чорний темніший 
#757575 сірий другий
#ffffff білий
#2196F3 синій для фокосу
*/

*{
    margin: 0;
}

body{
    font-family: Roboto;
    background-color: gray;
}

a{
    text-decoration: none;
    font-family: Roboto;
}

ul{
    list-style-type: none;
}

.width{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Header*/ /*Шапка*/
nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav{
    display: flex;
}
.contacts{
    display: flex;
}

.nav__name-company{
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.name-company--blue{
    color: #2196F3;
}

.nav__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #212121;
}

.nav__link:focus,
.nav__link:hover{
    color: #2196F3;
}

.contacts__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #757575;
}

.contacts__text:focus,
.contacts__text:hover{
    color: #2196F3;
}

/*Hello*/ /*Приветствие*/

.hello__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;

    color: #ffffff;
}
.hello__buy{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #ffffff;
    background-color: #2196F3;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*Main Pynkts*/ /*Главние пункти*/

.main-pynkts__title{
    color: #ffffff;
}

.pyntks__title{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    color: #212121;
}

.pynkts__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #757575;
}

/*Occupation*/ /*Чем ми занимаемся*/

.occupation__title{
    font-size: 36px;
    line-height: 42px;

    color: #212121;
}

.part-occupation__text{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #ffffff;
}

/*Comand*/ /*Команда*/

.comand{
    background-color: #F5F4FA;
}

.comand__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;

    color: #212121;
}

.worker__name{
    font-size: 16px;
    line-height: 19px;

    color: #212121;
    
}

.worker__text{
    font-size: 16px;
    line-height: 19px;

    color: #757575;
}

/*Clients*/ /*Клиенти*/

.clients-title{
    font-size: 36px;
    line-height: 42px;

    color: #212121;
}

/*Footer*/ /*Футер*/

.footer{
    background-color: #2F303A;
}

.address{
    font-style: normal;
}

.adress__text{
    font-size: 14px;
    line-height: 24px;

    color: #ffffff;
}

.name-company--white{
    color: #ffffff;
}

.adress__link{
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}

/*Go*/ /*Присоединяйтесь*/

.go__title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #ffffff;
}

.go__ss-link

/*Lets Go*/ /*Подписаться*/
.lets-go__title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #ffffff;
}

.lets-go__link{
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    
    color: #ffffff;
}

.copyright{
    font-size: 12px;
    line-height: 24px;

    color: rgba(194, 140, 140, 0.4);
}

/*PORTFOLIO*/ /*Портфолио*/

/*Nav-projects*/ /*Навигация*/
.projects__list-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #212121;
}

.projects__list-nav:focus,
.projects__list-nav:hover{
    color: #2196F3;
}

/*Projects*/ /*Проекти*/

.project__name{
    font-size: 18px;
    line-height: 36px;

    color: #212121;
}

.project__text{
    font-size: 16px;
    line-height: 30px;

    color: #757575;
}